<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- code highlighting-->
    <link href="/assets/google-code-prettify/desert.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images -->
    <link rel="shortcut icon" href="/img/logo.ico">
   <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

  </head>

  <body>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
{% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
<!--            {% include JB/pages_list %}-->
      <li><a href="/archive.html"><i class="fa fa-folder"></i> Archive</a></li>
      <li><a href="/public/html/Spark.html"><i class="fa fa-star"></i> Spark</a></li>
      <li><a href="/public/html/BigData.html"><i class="fa fa-cloud"></i> Big Data</a></li>
      <li><a href="/public/html/Coding.html"><i class="fa fa-code"></i> Coding</a></li>
      <li><a href="/public/html/Essay.html"><i class="fa fa-sticky-note"></i> Essay</a></li>
      <li><a href="/public/html/Papers.html"><i class="fa fa-file-pdf-o"></i> Papers</a></li>
</ul>
        </div>
      </div>
    </div>
<!--    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
    <div class="container">

         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav nav-nav" id="main-nav">

              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}

             {% include JB/pages_list %}
      <li><a href="/public/html/Spark.html">Spark</a></li>
            </ul>

          </div>

</div>
      </div>
    </div>
-->
    <div class="container">
      <div class="row">
        {{ content }}
      </div> <!--/.row-->

      <hr>
      <footer>
        <p align="center" >&copy;{{ site.time | date: '%Y' }} <i class="fa fa-heart"></i> {{ site.author.name }}
  <!--        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>-->
<!--          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>-->
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

<a href="https://github.com/turbofei" class="fa fa-github"></a>
<a href="https://weibo.com/u/3135876085" class="fa fa-weibo"></a>
<a href="mailto:turbofei@foxmail.com" class="fa  fa-envelope"></a>




 </p>
      </footer>
    </div>

<!-- code highlighting -->

<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
      !function ($) {
        $(function(){
            $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
            window.prettyPrint && prettyPrint();
        });
      }(window.jQuery);
    </script>
    <!-- math function -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {% include JB/analytics %}
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.toTop.min.js"></script>
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<a class="fa fa-arrow-up fa-2x" id="top"  ></a>
<script>
$('#top').toTop({
    //options with default values
    autohide: true,
    offset: 420,
    speed: 500,
    right: 15,
    bottom: 30
});      </script>

  </body>
</html>
